.projects {
  margin: 12px 0;
  min-height: 78vh;
}

.projects__up-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;
  margin-left: 24px;
  margin-right: 24px;
}

.projects__title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects__title-logo {
  width: 24px;
  height: 24px;
}

.projects__title {
  margin: 0;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.projects__button {
  margin: 0;
  padding: 0;
  border: 0;
  color: #FFF;
  background-color: #424242;
  border-radius: 4px;
  width: 100%;
  max-width: 150px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: opacity .1s linear;
  
}
.projects__button:hover {
  opacity: 0.8;
}