.popup__name-start {
  width: 100%;
}

.popup__img {
  width: 220px;
  margin-bottom: 50px;
}

.popup__main-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__text {
  margin: 0;
  padding: 0;
  padding: 8px;
  display: flex;
  align-items: center;
}